# Extensions

*.a
*.bat
*.bin
*.dll
*.dot
*.etag
*.exe
*.gcda
*.gcno
*.gcov
*.gguf
*.gguf.json
*.lastModified
*.log
*.metallib
*.o
*.so
*.tmp

# IDE / OS

.cache/
.ccls-cache/
.direnv/
.DS_Store
.envrc
.idea/
.swiftpm
.vs/
.vscode/
nppBackup

# Models
models/*
gpu/checkpoints/*

# Python

/.venv
__pycache__/
*/poetry.lock
poetry.toml

build/
logs/
rag/chroma_db/chroma.sqlite3
rag/sampling_data/jsonified/96.json
rag/sampling_data/jsonified/C900.json
rag/sampling_data/jsonified/NG9-3.json
rag/sampling_data/jsonified/NG9-5.json
rag/sampling_data/jsonified/original/96.md
rag/sampling_data/jsonified/original/C900.md
rag/sampling_data/jsonified/original/NG9-3.md
rag/sampling_data/jsonified/original/NG9-5.md
